{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home</title>

  <!-- font hk grotesk -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- libre baskerville -->
  <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'dist/styles.css' %}">

</head>

<body>

  <p class="top flex justify-center items-center h-10 text-xs px-5 md:text-sm">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
  </p>

  <header>
    <nav class="">
      <div class="flex justify-between items-center py-8">

        <div class="flex shrink-0">
          <!--<img src="static/images/movie-frame.png" alt="Logo" class="w-auto h-12 md:h-13 lg:h-14">-->
          <h1 class="logo text-2xl md:text-4xl lg:text-5xl flex items-center uppercase">vivi|filmes</h1>
        </div>

        <div class="hidden md:block">
          <ul class="flex items-center gap-6">
            <li><a class="inline-block py-1 px-3 hover:text-amber-400" href="{% url 'home' %}">página inicial</a></li>
            <li><a class="inline-block py-1 px-3 hover:text-amber-400" href="#">sobre</a></li>
            <li><a class="inline-block py-1 px-3 hover:text-amber-400" href="#">curiosidades</a></li>
            <li><a class="inline-block py-1 px-3 hover:text-amber-400" href="{% url 'movie_list' %}">filmes</a></li>
          </ul>
        </div>

        <div class="flex items-center gap-4">
          {% if request.user.is_authenticated %}
            <!-- ta horrivel esse botao, alterar depois -->
            <a class="rounded-md px-6 py-2 duration-200 hidden md:block" id="logout" href="{% url 'logout' %}">sair</a>
          {% else %}
            <a class="" id="signup" href="{% url 'signup' %}">Criar conta</a>
            <a class="" id="login" href="{% url 'login' %}">Entrar</a>
          {% endif %}
        </div>

        <button id="menu-btn" class="md:hidden focus:outline-none">
          <!-- simple 3 bars icon -->
          <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
        </button>
      </div>

      <div id="mobile-menu" class="hidden md:hidden px-6 pb-4">
        <ul>
          <li><a class="block py-2 hover:text-amber-500" href="{% url 'home' %}">página inicial</a></li>
          <li><a class="block py-2 hover:text-amber-500" href="#">sobre</a></li>
          <li><a class="block py-2 hover:text-amber-500" href="#">curiosidades</a></li>
          <li><a class="block py-2 hover:text-amber-500" href="{% url 'movie_list' %}">filmes</a></li>
        </ul>
      </div>
    </nav>

    <script>
      const btn = document.getElementById('menu-btn');
      const menu = document.getElementById('mobile-menu');

      btn.addEventListener('click', () => {
        menu.classList.toggle('hidden');
      });
    </script>

  </header>

  <main class="mx-7 lg:mx-40">    
    {% block content %}
    {% endblock content %}
  </main>

  <footer>
    <div class="max-w-7xl mx-auto py-16 px-12 lg:px-0 grid lg:grid-cols-3 gap-8">
      <div>
        <h1 class="logo text-2xl md:text-4xl lg:text-5xl flex items-center uppercase">vivi|filmes</h1>
        <p class="desc-1 py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sunt a numquam asperiores accusantium nam aperiam, repudiandae veniam totam, minima reprehenderit, ipsum amet aut laboriosam ea quia deleniti suscipit eaque!</p>
      </div>

      <div class="lg:col-span-2 flex justify-between mt-6">
        <div>
          <h2>fique sabendo!</h2>
          <p class="desc-1">insira seu e-mail para receber a nossa</p>
          <p class="desc-1">programação mensalmente</p>
          <!-- input e button para email aqui -->
        </div>

        <div>
          <div class="me-siga">
            <h2>me siga:</h2>
            <ul>
              <li><a class="desc-1" href="#">⊙</a></li>
              <li><a class="desc-1" href="#">⊙</a></li>
              <li><a class="desc-1" href="#">⊙</a></li>
            </ul>
          </div>
        </div>

        <div>
          <div>
            <h2>navegue</h2>
            <ul>
              <li><a class="desc-1 py-2" href="{% url 'home' %}">página inicial</a></li>
              <li><a class="desc-1 py-2" href="#">sobre</a></li>
              <li><a class="desc-1 py-2" href="#">curiosidades</a></li>
              <li><a class="desc-1 py-2" href="{% url 'movie_list' %}">filmes</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-7xl mx-auto px-12 lg:px-0">
      <div>
        <hr class="h-0.5 bg-neutral-700 border-0">
      </div>

      <div class="flex justify-between items-center py-2.5">
        <p class="">© 2025 VIVI|FILMES, Rio Grande do Sul, Brasil. Todos os direitos reservados.</p>
        <a class="" href="#">Voltar ao topo ↑</a>
      </div>
    </div>
  </footer>
</body>
</html>