{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home</title>

  <!-- font hk grotesk -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- libre baskerville -->
  <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'dist/styles.css' %}">

</head>

<body>

  <p class="top flex justify-center items-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
  </p>

  <header>
    <nav class="">

      <div>
        <h1 class="logo">VIVI|FILMES</h1>
      </div>

      <div class="">
        <ul class="">
          <li><a href="{% url 'home' %}">página inicial</a></li>
          <li><a href="#">sobre</a></li>
          <li><a href="#">curiosidades</a></li>
          <li><a href="{% url 'movie_list' %}">filmes</a></li>
        </ul>
      </div>

      <div>
        {% if request.user.is_authenticated %}
          <a class="" id="logout" href="{% url 'logout' %}">sair</a>
        {% else %}
          <a class="" id="signup" href="{% url 'signup' %}">Criar conta</a>
          <a class="" id="login" href="{% url 'login' %}">Entrar</a>
        {% endif %}
      </div>
    </nav>
  </header>

  <main>    
    {% block content %}
    {% endblock content %}
  </main>

  <footer class="mt-40 px-30 justify-between">

    <div class="flex flex-row gap-x-48 py-16">
      <h1 class="logo">VIVI|FILMES</h1>

      <div class="footer-info flex flex-row gap-x-16">
        <div class="">
          <h2>fique sabendo!</h3>
          <p>insira seu e-mail para receber a nossa programação mensalmente</p>
          <!-- input e button para email aqui -->
        </div>

        <div class="me-siga flex flex-col">
          <h2>me siga:</h2>
          <a href="#">instagram</a>
          <a href="#">linkedin</a>
          <a href="#">github</a>
        </div>

        <div class="navegue flex flex-col">
          <h2>navegue</h2>
          <a href="{% url 'home' %}">página inicial</a>
          <a href="#">sobre</a>
          <a href="#">curiosidades</a>
          <a href="{% url 'movie_list' %}">filmes</a>
        </div>
      </div>
    </div>

    <hr class="h-0.5 bg-neutral-700 border-0">

    <div class="flex flex-row justify-between py-3">
      <p class="text-sm">© 2025 VIVI|FILMES, Rio Grande do Sul, Brasil. Todos os direitos reservados.</p>
      <a class="text-sm font-bold" href="#">Voltar ao topo ↑</a>
    </div>
  </footer>
</body>
</html>