{% extends 'cinema/base.html' %}
{% load static %}

{% block content %}
  
<div class="w-full py-10 px-4">

  <div class="max-w-7xl mx-auto grid md:gap-8 lg:grid-cols-2">
    <div>
      <img class="w-full mx-auto md:mx-0 my-4" src="{% static 'images/rio-40-graus-02.webp' %}" alt="filme">  
    </div>

    <div class="flex flex-col justify-center">
      <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold">assista</h1>
      <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold">comente</h1>
      <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold">compartilhe</h1>

      <p class="desc-1 py-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae placeat architecto consequuntur culpa nobis 
        eius praesentium, ea ipsum soluta omnis. Eos dicta dolore sit corrupti soluta architecto amet nihil modi!
      </p>
    </div>
  </div>

</div>

<hr id="hr-home" class="max-w-7xl mx-4 lg:mx-auto h-px border-0 px-4">

<div id="sobre" class="w-full py-16 px-4">
  <div class="max-w-7xl mx-auto grid md:gap-8 lg:grid-cols-2">

    <div class="flex flex-col justify-center">
      <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold">a ideia</h1>

      <p class="desc-1 py-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores sint minima harum consequatur, excepturi aspernatur 
        incidunt suscipit, dicta facere quia, vitae voluptates doloremque debitis sequi placeat libero. Atque, sint. Lorem ipsum dolor
        sit amet consectetur, adipisicing elit. Dolorum dignissimos provident voluptas nulla, doloribus dolorem?
      </p>
      <p class="desc-1 py-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores sint minima harum consequatur, excepturi aspernatur 
        incidunt suscipit, dicta facere quia, vitae voluptates doloremque debitis sequi placeat libero. Atque, sint. Lorem ipsum dolor
        sit amet consectetur, adipisicing elit. Dolorum dignissimos provident voluptas nulla, doloribus dolorem?
      </p>
    </div>

    <div>
      <img class="w-full h-54 object-cover overflow-hidden" src="{% static 'images/apenasofim.jpg' %}" alt="filme"> 

      <p class="desc-1 mt-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quas facilis voluptate sed quaerat ratione beatae consequuntur 
        asperiores consequatur. Ex illo modi mollitia esse debitis enim magni porro vitae amet!
      </p>
    </div>
      
  </div>
</div>

<hr id="hr-home" class="max-w-7xl mx-4 lg:mx-auto h-px border-0 px-4">

<div id="curiosidade" class="curiosidade w-full py-16 px-4">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-2xl sm:text-3xl font-bold mb-7">O cinema brasileiro | e suas curiosidades</h2>
  </div>

  <article class="max-w-7xl mx-auto grid p-8 gap-8 md:p-16 md:gap-8 lg:gap-12 lg:grid-cols-2">
    
    <div class="flex flex-col justify-center">
      <h2 class="items-center text-lg sm:text-2xl font-bold mb-6">Na década de 1980, o cinema brasileiro atingira o seu auge</h2>
      <p class="desc-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores sint minima harum consequatur, excepturi aspernatur 
        incidunt suscipit, dicta facere quia, vitae voluptates doloremque debitis sequi placeat libero. Atque, sint. Lorem ipsum dolor
        sit amet consectetur, adipisicing elit. Dolorum dignissimos provident voluptas nulla, doloribus dolorem?
      </p>
      <p class="desc-1 mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores sint minima harum consequatur, excepturi aspernatur 
        incidunt suscipit, dicta facere quia, vitae voluptates doloremque debitis sequi placeat libero. Atque, sint. Lorem ipsum dolor
        sit amet consectetur, adipisicing elit. Dolorum dignissimos provident voluptas nulla, doloribus dolorem?
      </p>
      <p class="desc-1 mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores sint minima harum consequatur, excepturi aspernatur 
        incidunt suscipit, dicta facere quia, vitae voluptates doloremque debitis sequi placeat libero. Atque, sint.
      </p>
      <p class="desc-1 mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores sint minima harum consequatur, excepturi aspernatur 
        incidunt suscipit, dicta facere quia, vitae voluptates doloremque debitis sequi placeat libero. Atque, sint. Lorem ipsum dolor
        sit amet consectetur, adipisicing elit. Dolorum dignissimos provident voluptas nulla, doloribus dolorem?
      </p>
    </div>

    <div>
      <img src="{% static 'images/cbs_id_terra_estrangeira.jpg' %}" alt="filme"> 
      <p class="desc-1 mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores sint minima harum consequatur, excepturi aspernatur 
        incidunt suscipit, dicta facere quia, vitae voluptates doloremque debitis sequi placeat libero. Atque, sint. Lorem ipsum dolor
        sit amet consectetur, adipisicing elit. Dolorum dignissimos provident voluptas nulla, doloribus dolorem?
      </p>
    </div>
  </article>

</div>
  
{% endblock content %}