{% extends 'cinema/base.html' %}

{% block content %}
  
<div class="inicial">
  <h1>assista</h1>
  <h1>comente</h1>
  <h1>compartilhe</h1>

  <p class="desc-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae placeat architecto consequuntur culpa nobis 
    eius praesentium, ea ipsum soluta omnis. Eos dicta dolore sit corrupti soluta architecto amet nihil modi!</p>

  <div class="inicial-img">
    <img src="#" alt="filme">
  </div>
</div>

<div class="sobre">
  <h1>a ideia</h1>
  <p class="desc-1">bastante texto aqui..</p>

  <div class="sobre-img">
    <img src="#" alt="filme">
  </div>
</div>

<div class="curiosidade">
  <h1>O cinema brasileiro | e suas curiosidades</h2>

  <article>
    <h2>Na década de 1980, o cinema brasileiro atingira o seu auge</h2>
    <p class="desc-1">muito texto...</p>

    <div class="noticia-img">
      <img src="#" alt="filme">
    </div>
  </article>

  <article>
    <h2>Outra curiosidade</h2>
    <p class="desc-1">muito texto sobre a outra curiosidade...</p>

    <div class="noticia-img">
      <img src="#" alt="filme">
    </div>
  </article>
</div>
  
{% endblock content %}