{% extends 'cinema/base.html' %}

{% block content %}
  
<div class="inicial flex flex-row">
  <div class="w-1/2 px-28 flex flex-col justify-center">
    <h1>assista</h1>
    <h1>comente</h1>
    <h1>compartilhe</h1>

    <p class="desc-1 mt-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae placeat architecto consequuntur culpa nobis 
                           eius praesentium, ea ipsum soluta omnis. Eos dicta dolore sit corrupti soluta architecto amet nihil modi!</p>
  </div>

  <div class="inicial-img w-1/2">
    <img src="static/images/rio40graus.jpg" alt="filme">
  </div>
</div>

<hr class="hr h-px my-20 border-0">

<div class="sobre flex flex-row">
  <div class="w-1/2 px-28 flex flex-col">
    <h1>a ideia</h1>
    <p class="desc-1 mt-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores sint minima harum consequatur, excepturi aspernatur 
                      incidunt suscipit, dicta facere quia, vitae voluptates doloremque debitis sequi placeat libero. Atque, sint. Lorem ipsum dolor
                      sit amet consectetur, adipisicing elit. Dolorum dignissimos provident voluptas nulla, doloribus dolorem?</p>
    <p class="desc-1 mt-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores sint minima harum consequatur, excepturi aspernatur 
                      incidunt suscipit, dicta facere quia, vitae voluptates doloremque debitis sequi placeat libero. Atque, sint. Lorem ipsum dolor
                      sit amet consectetur, adipisicing elit. Dolorum dignissimos provident voluptas nulla, doloribus dolorem?</p>
  </div>

  <div class="w-1/2">
    <img class="w-full h-54 object-cover overflow-hidden" src="static/images/apenasofim.jpg" alt="filme">
    <p class="desc-1 mt-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quas facilis voluptate sed quaerat ratione beatae consequuntur 
                      asperiores consequatur. Ex illo modi mollitia esse debitis enim magni porro vitae amet!</p>
  </div>
</div>

<hr class="hr h-px my-20 border-0">

<div class="curiosidade px-28">
  <h1>O cinema brasileiro | e suas curiosidades</h2>

  
  <article class="my-8 p-14">
    <h2 class="text-center">Na década de 1980, o cinema brasileiro atingira o seu auge</h2>

    <div class="flex flex-row">
      <div class="w-1/2 mt-8">
        <p class="desc-1">muito texto...</p>
      </div>

      <div class="w-1/2 mt-8">
        <img src="#" alt="filme">
        <p class="desc-1 mt-8">muito texto...</p>
      </div>
    </div>
  </article>

  <article>
    <div>
      <h2>Outra curiosidade</h2>
    </div>
    <p class="desc-1">muito texto sobre a outra curiosidade...</p>

    <div class="">
      <img src="#" alt="filme">
    </div>
  </article>
</div>
  
{% endblock content %}