{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>movie detail</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static 'main.js' %}" defer></script>

</head>

<body>
  
  <p>movie name etc</p>

  <!-- depois, isso vai vir de um media file, nao static, pq o user q vai criar e upar o video 
  <video controls width="250"><source src="/cinema/static/videos/2023-06-06 22-39-03.mp4" type="video/mp4"/></video> -->
  
  
  <video width="800" controls autoplay>
    <source src="{% static 'videos/vvideo.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  

  <div>
    {{ movie.title }}
    {{ movie.year }}
    {{ movie.length }}
  </div>

  <div class="update-movie">
    <a href="{% url 'update_movie' movie.id %}">Edit movie</a>
  </div>

  <div class="delete-movie">
    <a href="{% url 'delete_movie' movie.id %}">delete movie</a>
  </div>

  
  <!-- rating form -->

  <form action="{% url 'movie_rate' movie.id %}" class="rating-stars" method="post" url="">
    {% csrf_token %}
    <button type="submit" class="fa fa-star my-btn" id="first" name="rating" value="1"></button>
    <button type="submit" class="fa fa-star my-btn" id="second" name="rating" value="2"></button>
    <button type="submit" class="fa fa-star my-btn" id="third" name="rating" value="3"></button>
    <button type="submit" class="fa fa-star my-btn" id="fourth" name="rating" value="4"></button>
    <button type="submit" class="fa fa-star my-btn" id="fifth" name="rating" value="5"></button>
  </form> 

  <div class="moviecomment">
    <div class="moviecomment-container">
      <div class="card-body">

        <h3>leave a comment</h3>
        <form action="{% url 'movie_comment' movie.id %}" method="post">
          {% csrf_token %}
          {{ comment_form.as_p }}
          <button type="submit">submit comment</button>
        </form>

      </div>
    </div>
  </div>

  <h2>{{ comments.count }} comments</h2>
  {% for comment in comments %}
    <p>
    {{ comment.user }}
    {{ comment.created_date }}
    </p>

    {{ comment.text | linebreaks }}
  {% endfor %}

</body>
</html>