{% extends 'cinema/base.html' %}
{% load static %}

{% block content %}


<div class="w-full py-16 px-4">
  <div class="max-w-7xl mx-auto grid lg:grid-cols-2 md:gap-8">
    <!-- aqui vem o video -->
    <div>
      <div class="bg-neutral-800 p-6 rounded-2xl">
        <h1 class="text-neutral-200 text-2xl font-bold">{{ movie.title }}</h1>
        <p class="text-neutral-300 text-sm md:text-lg font-light">{{ movie.year }} — {{ movie.length }}</p> 

        <!-- rating form -->
        <form class="rating-stars text-neutral-700 text-3xl mt-2" action="{% url 'movie_rate' movie.id %}" method="post" url="">
          {% csrf_token %}
          <button type="submit" class="fa fa-star my-btn" id="first" name="score" value="1"></button>
          <button type="submit" class="fa fa-star my-btn" id="second" name="score" value="2"></button>
          <button type="submit" class="fa fa-star my-btn" id="third" name="score" value="3"></button>
          <button type="submit" class="fa fa-star my-btn" id="fourth" name="score" value="4"></button>
          <button type="submit" class="fa fa-star my-btn" id="fifth" name="score" value="5"></button>
        </form> 

        <hr class="text-neutral-700 mx-4 lg:mx-auto h-px m-4">

        <div class="grid grid-cols-2">
          <div>
            <p class="text-neutral-300 text-sm md:text-lg font-light">{{ movie.genre }}</p>
            <p class="text-neutral-300 text-sm md:text-lg font-light">Dirigido por <span class="font-bold">{{ movie.director }}</span></p>
          </div>

          <div>
            <!-- save movie | depois vou colocar o icon como button pra save e unsave -->
            {% if movie in profile.saved_movies.all %}
              <a href="{% url 'save_movie' movie.id %}">unsave</a>
            {% else %}
              <a href="{% url 'save_movie' movie.id %}">save</a>
            {% endif %}
          </div>
        </div>
      </div>

      <div>
      {% if request.user.is_superuser %}
        <div class="editar-filme">
          <a href="{% url 'update_movie' movie.id %}">Editar filme</a>
        </div>

        <div class="deletar-filme">
          <a href="{% url 'delete_movie' movie.id %}">Deletar filme</a>
        </div>
      {% endif %}
      </div>
    </div>

    <div>
      <h2 class="text-neutral-400 text-lg md:text-xl font-bold mb-3">Sinopse</h2>
      <p class="desc-1">{{ movie.synopsis }}</p>
    </div>
  </div>

  <!-- movie comment -->
  <div class="comentario max-w-7xl mx-auto">
    <div>

      <!-- alterar isso depois, nao preciso de uma template só pra comments -->
      <h3><span>O que você achou do filme?</span> Compartilhe sua experiência.</h3>
      <form action="{% url 'movie_comment' movie.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">comentar</button>
      </form>
    </div>

    <div class="comentario-lista">
      <h3>Comentários <span>{{ comments.count }}</span></h3>

      {% for comment in comments %}
        <p class="comentario-usuario">{{ comment.user }}</p>
        <p class="comentario-data">{{ comment.created_date }}</p>
        <p class="desc-1">{{ comment.text }}</p>
      {% endfor %}
    </div>
  </div>
</div>


<!-- script for star rating -->
<script>
  var score = parseInt('{{ user_rating.score }}')

  const one = document.getElementById('first')
  const two = document.getElementById('second')
  const three = document.getElementById('third')
  const four = document.getElementById('fourth')
  const five = document.getElementById('fifth')

  const form = document.querySelector('.rating-stars')

  const csrf = document.getElementsByName('csrfmiddlewaretoken')

  const handleStarSelect = (size) => {
    const children = form.children
    for (let i=0; i< children.length; i++) {
      if(i <= size) {
        children[i].classList.add('checked')
      } else {
        children[i].classList.remove('checked')
      }
    }
  }

  handleStarSelect(score)

  const handleSelect = (selection) => {
    switch(selection){
      case 'first': {
        handleStarSelect(1)
        return
      }
      case 'second': {
        handleStarSelect(2)
        return
      }
      case 'third': {
        handleStarSelect(3)
        return
      }
      case 'fourth': {
        handleStarSelect(4)
        return
      }
      case 'fifth': {
        handleStarSelect(5)
        return
      }
    }
  }

  if (one) {
    const arr = [one, two, three, four, five]
    arr.forEach(item=> item.addEventListener('mouseover', (event)=> {
      handleSelect(event.target.id)
    }))
  }
</script>

{% endblock content %}