{% extends 'cinema/base.html' %}
{% load static %}

{% block content %}

<div class="filme-lista w-full py-16 px-4">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-2xl sm:text-3xl font-bold mb-10">Filmes | e outros</h2>
  </div>
  <div class="max-w-7xl mx-auto grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-4">
    {% for movie in movies %}
      {% if movie.poster %}
      <div>
        <div class="relative aspect-[2/3] rounded-b-sm overflow-hidden">
          <img class="w-full h-full object-cover rounded-b-sm" src="{{ movie.poster.url }}" alt="{{ movie.title }}">
        </div>
        {% endif %}
        <div class="mt-2 text-center">
          <p><a href="{% url 'movie_detail' id=movie.id %}">{{ movie.title }} </a>| {{ movie.year }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



{% endblock content %}