{% extends 'cinema/base.html' %}
{% load static %}

{% block content %}

<div class="filme-lista">
  <h1>Filmes | e outros</h2>
  
  <div class="grid grid-cols-6 gap-6">
    {% for movie in movies %}
      <div class="filme-card flex flex-col justify-start items-center box-border shadow-md">
        {% if movie.poster %}
        <div class="filme-img">
          <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
        </div>
        {% endif %}
        <p class="filme-titulo-ano"><a href="{% url 'movie_detail' id=movie.id %}">{{ movie.title }} </a>| {{ movie.year }}</p>
      </div>
    {% endfor %}
  </div>
</div>



{% endblock content %}