{% extends 'cinema/home.html' %}
{% load static %}

{% block content %}

<h3>user profile</h3>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- na realidade, eu nao preciso disso aqui, preciso apenas de um update profile
   quando criamos um perfil, essas informações devem vir do signup, e então serem apenas EXIBIDAS
   nessa template. E então, aqui, precisa haver um botão para update_profile, que ai sim eu passo
   o form para atualizar. -->

  {% for field in form %}
   {{ form.as_p }}
  {% endfor %}

  <button type="submit">salvar perfil</button>

</form>

<div class="saved-movies">
  {% for movie in saved_movies %}
    {{ movie.title }}
  {% endfor %}
</div>

{% endblock content %}