{% extends 'cinema/base.html' %}
{% load static %}

{% block content %}

  <h3>user profile</h3>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="perfil-info">
      <!-- foto de capa também -->
      <img src="{{ profile.avatar.url }}" alt="avatar">

      <p>{{ user.username }}</p>
      <p>{{ saved_movies.count }} filmes</p>
      <p class="desc">{{ profile.bio }}</p>
    </div>

    <div class="editar-perfil">
      <!-- isso precisa de outra template, igual ao de perfil, mas que possibilita edição -->
      <a href="{% url 'change_password' %}">Alterar senha</a>
      <hr>

      <label>Alterar foto</label>
      {{ profile_form.avatar }}
      <br>

      <label>Descrição</label>
      {{ profile_form.bio }}

      <button type="submit">Salvar</button>
    </div>
  </form>

  <div class="filmes-salvos">
    <p>Filmes favoritos</p>

    {% for movie in saved_movies %}
      {{ movie.poster }}
      <p>{{ movie.title }} | {{ movie.year }}</p>
    {% endfor %}
  </div>

{% endblock content %}