{% extends 'cinema/base.html' %}
{% load static %}

{% block content %}

<div class="atualizar-filme">
  <div class="container">
    <div class="atualizar-form">

      <h1>Atualize o filme</h1>
      
      <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% for field in form %}
          {{ field.label_tag }}
          {{ field }}
        {% endfor %}

        <div class="atualizar-botao">
          <input type="submit" value="Atualizar filme">
          <a href="{% url 'movie_detail' movie.id %}">Cancelar</a>
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock content %}