{% extends 'cinema/base.html' %}

{% block content %}

  <!-- na realidade, eu vou usar um block content aqui, mas enfim, faço isso depois -->
  <form action="{% url 'login' %}" method="post">

    <h3>Entre em sua conta</h3>

    {% csrf_token %}
    <p>{{ form.username.label_tag }}
    {{ form.username }}</p>

    </p>{{ form.password.label_tag }}
    {{ form.password }}</p>

    <input type="submit" value="entrar">

  </form>
  
  <p class="text-lg font-light font-libre text-neutral-600">Ainda não possui uma conta? <a href="{% url 'signup' %}">Criar conta</a></p>

  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
  
{% endblock content %}