@import "tailwindcss";

/* fazer todo estilo aquilo, utilizar apenas grid, display com tailwind */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #0d0c0c;
  color: #929292;
}

/* header */
.logo {
  font-size: 3.5rem;
  color: #f2ab27;
}
.nav-bar a{
  text-decoration: none;
  color: #a6a6a6;
  font-size: 1.1rem;
  font-weight: 300;
}
.desc-1 {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
}
#logout{
  text-decoration: none;
  font-weight: bold;
  background-color: #262425;
  color: #f2ab27;
  /*padding: 0.8rem;
  margin: 1rem;*/
  border-radius: 1rem;
}

/* home */
.inicial{
  background-color: #202020;
}
.inicial h1, .sobre h1 {
  font-size: 3rem;
  line-height: 2.9rem;
}
article{
  background-color: #202020;
}
.curiosidade h1, .filme-lista h1 {
  font-size: 1.5rem;
  color: #f2ab27;
  font-weight: 300;
}
.curiosidade h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.3rem;
  color: #efefef;
  font-weight: bold;
}

/* movie list */
.filme-img {
  background-color: #202020;
}
.filme-lista img {
  max-width: 180px;
  width: 100%;
  height: auto;
}
.filme-titulo-ano, .filme-titulo-ano a {
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  font-size: 0.8rem;
  color: #efefef;
}

/* movie detail */
.filme-info {
  background-color: #202020;
}
.filme-info h1 {
  font-size: 1.6rem;
  color: #efefef;
  font-weight: bold;
}
.filme-info .desc-2{
  font-size: 1.1;
  color: #cecece;
  font-weight: lighter;
}
.checked {
  color: #f2ab27;
}
.my-btn {
  background-color: inherit !important;
  border: 0 !important;
}
.desc-3 { 
  font-size: 0.9rem;
  color: #cecece; 
}
.filme-info-2 h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.comentario h3 {
  font-size: 1.3rem;
  font-weight: 300;
}
.comentario h3 span {
  font-weight: bold;
}
.comentario-lista h3 {
  font-size: 1rem;
  color: #efefef;
  font-weight: bold;
}
.comentario-lista span {
  font-size: 0.8rem;
  color: #0d0c0c;
  background-color: #f2ab27;
  padding: 0.1rem;
  border-radius: 10px;
  font-weight: bold;
}
.comentario-usuario {
  font-size: 0.9rem;
  color: #efefef;
  font-weight: 500;
}
.comentario-data {
  font-size: 0.8rem;
  color: #545454;
}

/* movie comment */
.comentario h2 {
  font-size: 1.3rem;
}

/* user profile */
.perfil-info #usuario {
  font-size: 1.2rem;
  color: #efefef;
}
.perfil-info span {
  font-size: 1.1rem;
  color: #efefef;
}
.perfil-info #qtd-filmes {
  font-size: 1rem;
  color: #efefef;
  font-weight: lighter;
}
#fav-filmes {
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  color: #efefef;
} 



footer {
  background-color: #202020;
}
footer h2 {
  font-size: 1.1rem;
  color: #f2ab27;
  font-weight: 300;
}
footer p, footer a {
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  font-size: 0.8rem;
  color: #efefef;
  font-weight: 600;
}