@import "tailwindcss";

/* fazer todo estilo aquilo, utilizar apenas grid, display com tailwind */

/* aqui eu já seto qual tamanho eu quero pra img, 
   pq o padding vai garantir q ela se mantenha com margem e no centro, 
   uma vez que o padding é no card, e nao na img em si. */


@layer base {
  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  }
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #0d0c0c;
  color: #929292;
}

#hr-home {
  background-color: #f2ab27;
}

.top {
  background-color: #262425;
  color: #545454;
}

/* header */
.logo {
  color: #f2ab27;
  font-weight: bold;
}
.nav-bar a{
  text-decoration: none;
  color: #a6a6a6;
  font-weight: 300;
}
.desc-1 {
  font-family: "Libre Baskerville", serif;
  color: #929292;
  text-align: justify;
}
#logout{
  text-decoration: none;
  font-weight: bold;
  background-color: #262425;
  color: #f2ab27;
}
#logout:hover {
  background: #545454;
}

/* home */
.inicial{
  background-color: #323131;
  border-radius: 50px;
}
.inicial h1, .sobre h1 {
  line-height: 2.9rem;
  font-weight: bold;
}
article{
  background-color: #202020;
}
.curiosidade h1, .filme-lista h1 {
  color: #f2ab27;
  font-weight: 300;
}
.curiosidade h2 {
  font-family: "Libre Baskerville", serif;
  color: #efefef;
  font-weight: bold;
}

/* movie list */
.filme-titulo {
  font-family: "Libre Baskerville", serif;
  color: #cecece;
}

/* movie detail */
.filme-info {
  background-color: #202020;
}
.filme-info h1 {
  color: #efefef;
  font-weight: bold;
}
.filme-info .desc-2{
  color: #cecece;
  font-weight: lighter;
}
.checked {
  color: #f2ab27;
}
.my-btn {
  background-color: inherit !important;
  border: 0 !important;
}
.desc-3 { 
  color: #cecece; 
}
.filme-info-2 h2 {
  font-weight: 600;
}

.comentario h3 {
  font-weight: 300;
}
.comentario h3 span {
  font-weight: bold;
}
.comentario-lista h3 {
  color: #efefef;
  font-weight: bold;
}
.comentario-lista span {
  color: #0d0c0c;
  background-color: #f2ab27;
  border-radius: 10px;
  font-weight: bold;
}
.comentario-usuario {
  color: #efefef;
  font-weight: 500;
}
.comentario-data {
  color: #545454;
}

/* movie comment */
.comentario h2 {
  font-size: 1.3rem;
}

/* user profile */
.perfil-info #usuario {
  color: #efefef;
}
.perfil-info span {
  color: #efefef;
}
.perfil-info #qtd-filmes {
  color: #efefef;
  font-weight: lighter;
}
#fav-filmes {
  font-family: "Libre Baskerville", serif;
  color: #efefef;
} 


/* footer */
footer {
  background-color: #202020;
}
footer h2 {
  color: #f2ab27;
  font-weight: 300;
}
.footer-info a, .footer-info p {
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  font-size: 0.8rem;
  color: #efefef;
  font-weight: 600;
}