@import "tailwindcss";

/* fazer todo estilo aquilo, utilizar apenas grid, display com tailwind */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0c0c;
  font-family: 'Hanken Grotesk', 'sans-serif';
}

.font2 {
  font-family: 'Libre Baskerville', 'sans';
}

footer, .noticia {
  background-color: #202020;
}

/* rating and button, for now */
.checked {
  color: goldenrod;
}

.my-btn {
  background-color: inherit !important;
  border: 0 !important;
}